### Libraries

In [7]:
import pyodbc
from datetime import datetime
from datetime import date
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import col
from pyspark.sql.functions import filter
from pyspark.sql.functions import array
from pyspark.sql.functions import array_distinct
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.types import DateType

In [8]:
import findspark
findspark.init()
findspark.find()

'/home/k0shur/anaconda3/envs/data_science_and_engineering/lib/python3.10/site-packages/pyspark'

### Create Spark Session

In [9]:
spark = SparkSession.builder.getOrCreate()

### Create Dataframe Test

In [10]:
my_row_list = [
    Row(a=1, b=4., c='GFG1', d=date(2000, 8, 1),
        e=datetime(2000, 8, 1, 12, 0)),
   
    Row(a=2, b=8., c='GFG2', d=date(2000, 6, 2),
        e=datetime(2000, 6, 2, 12, 0)),
   
    Row(a=4, b=5., c='GFG3', d=date(2000, 5, 3),
        e=datetime(2000, 5, 3, 12, 0))
]

spark.createDataFrame(my_row_list).show()

my_tuple_list = [
    ("John1", "Doe", "john1doe@johndoe.com"),
    ("John2", "Doe", "john2doe@johndoe.com"),
    ("John3", "Doe", "john3doe@johndoe.com"),
    ("John4", "Doe", "john4doe@johndoe.com"),
    ("John5", "Doe", "john5doe@johndoe.com")
]
my_tuple_column_list = ["first_name", "last_name", "email"]

my_dataframe_tuple_list = spark.createDataFrame(my_tuple_list, my_tuple_column_list).show()

+---+---+----+----------+-------------------+
|  a|  b|   c|         d|                  e|
+---+---+----+----------+-------------------+
|  1|4.0|GFG1|2000-08-01|2000-08-01 12:00:00|
|  2|8.0|GFG2|2000-06-02|2000-06-02 12:00:00|
|  4|5.0|GFG3|2000-05-03|2000-05-03 12:00:00|
+---+---+----+----------+-------------------+

+----------+---------+--------------------+
|first_name|last_name|               email|
+----------+---------+--------------------+
|     John1|      Doe|john1doe@johndoe.com|
|     John2|      Doe|john2doe@johndoe.com|
|     John3|      Doe|john3doe@johndoe.com|
|     John4|      Doe|john4doe@johndoe.com|
|     John5|      Doe|john5doe@johndoe.com|
+----------+---------+--------------------+

### Connect python with SQL using odbc

In [16]:
cnxn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER=10.0.2.5;DATABASE=TEST;UID=remote_connector;PWD=admin123;TrustServerCertificate=yes;')


# Create a cursor from the connection
cursor = cnxn.cursor()

cursor.execute("select * from test_table;")

print(len(cursor.fetchall()))

22

In [15]:
server_name = "jdbc:sqlserver://10.0.2.5:1433"
database_name = "TEST"
url = server_name + ";" + "databaseName=" + database_name + ";"

table_name = "test_table"
username = "remote_connector"
password = "admin123"

try:
  jdbcDF = spark.read \
        .format("jdbc") \
        .option("url", url) \
        .option("driver","com.microsoft.sqlserver.jdbc.SQLServerDriver")\
        .option("dbtable", table_name) \
        .option("user", username) \
        .option("password", password).load()
  
  jdbcDF.show(40)
  print(jdbcDF.count())
except ValueError as error :
    print("Connector write failed", error)

+--------------------+----------------+
|           test_col1|       test_col2|
+--------------------+----------------+
|              asdASD|          ASDasd|
|            sadfasdf|        asdfasdf|
|            asdfasdf|        asdfasdf|
|            asdfasdf|        asdfasdf|
|                asdf|            asdf|
|                asdf|        asdfasdf|
|                asdf|            asdf|
|                asdf|            asdf|
|          aqw4352345|            2345|
|                2345|            2345|
|                  23|          452345|
|234523452345234ou...| uioyhwioueyroiu|
|            sdfgsdfg|            yoiu|
|               yoiuy|            oiuy|
|                 oiu|            yoiu|
|                yoiu|               o|
|           dsafgsdfg|        sdfgsdfg|
|      asdasdashdjikh|hkjahsjkdhjkashd|
|       kashdkjashdkj|hkjhkjhakjhsdjka|
|      akjshdkjashdjk|   akjshdkjahdjk|
|         aksjdhkajhd| kjahsdkjashsjkd|
|           kajhskdja|      kjhkjasdas|
+--------------------+----------------+

22